<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex="24" fxHide.lt-sm>
        <div id="yesterday" style="background-color: red;">
            <p>this is yesterady block.</p>
        </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="95">
        <div id="today" style="background-color: green;">
            <p>this is today block.</p>
        </div>
    </div>
    <div fxLayout="column" fxFlex="24" fxHide.lt-sm>
        <div id="tomorrow" style="background-color: blue;">
            <p>this is tomorrow block.</p>
        </div>
    </div>
</div>