<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex="24" fxHide.lt-sm>
        <div id="yesterday">
            <app-daily-tab [date]="yesterday"></app-daily-tab>
        </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="95">
        <div id="today">
            <app-daily-tab [date]="date"></app-daily-tab>
        </div>
    </div>
    <div fxLayout="column" fxFlex="24" fxHide.lt-sm>
        <div id="tomorrow">
            <app-daily-tab [date]="tomorrow"></app-daily-tab>
        </div>
    </div>
</div>

<div class="side-bar left">
    <button (click)="previousDate()">before</button>
</div>

<div class="side-bar right">
    <button (click)="nextDate()">after</button>
</div>