<div class="task-tab-detail" fxLayout="column" fxLayoutAlign="center">
    <h3 mat-dialog-title>{{backupData.date}}</h3>
    <p [style.color] = "statusColour">{{ taskStatus }}</p>
    <div mat-dialog-content class="task-tab-content" fxLayout="column" fxLayoutAlign="space-evenly center">
        <mat-form-field class="input-title">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="backupData.title">
        </mat-form-field>

        <mat-form-field class="input-desc">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="backupData.description"></textarea>
        </mat-form-field>

        <!--
        <mat-form-field class="input-title">
            <mat-label>Task Order</mat-label>
            <input type="number" matInput [(ngModel)]="backupData.task_order">
        </mat-form-field>
        -->

    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button *ngIf="!dateService.isBeforeToday(backupData.date)" [mat-dialog-close]="backupData" color="primary">Save</button>
        <button mat-raised-button *ngIf="!dateService.isBeforeToday(backupData.date) && alreadyExist" color="warn" [matMenuTriggerFor]="menu">Delete?</button>
        <mat-menu #menu="matMenu" yPosition="above">
            <p mat-menu-item disabled class="delete-confirm">You sure?</p>
            <button mat-menu-item (click)="deleteTask()">DELETE!</button>
          </mat-menu>
        <button mat-raised-button *ngIf="backupData.finish == 0 && !dateService.isBeforeToday(backupData.date) && alreadyExist" class="button-positive" (click)="toggleFinish()">Finish</button>
        <button mat-raised-button *ngIf="backupData.finish == 1 && !dateService.isBeforeToday(backupData.date) && alreadyExist" class="button-hesitate" (click)="toggleFinish()">Undone</button>
    </div>
</div>