<div class="task-tab-detail" fxLayout="column" fxLayoutAlign="center">
    <h3 mat-dialog-title>{{data.date}}</h3>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput [(ngModel)]="data.name">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>
</div>