<div class="task-tab-detail" fxLayout="column" fxLayoutAlign="center">
    <h3 mat-dialog-title>{{backupData.date}}</h3>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="backupData.name">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button *ngIf="!dateService.isBeforeToday(backupData.date)" [mat-dialog-close]="backupData" cdkFocusInitial>Save</button>
    </div>
</div>